
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', sans-serif;
}


.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #111827;
    padding: 15px 40px;
    position: sticky;
    top: 0;
    z-index: 1000;
}

.navbar .logo {
    color: #fff;
    font-size: 26px;
    font-weight: bold;
}

.navbar nav a {
    color: #fff;
    text-decoration: none;
    margin-left: 25px;
    font-size: 16px;
    transition: 0.3s;
}

.navbar nav a:hover,
.navbar nav a.active {
    color: #444343;
}

h2 {
    text-align: center;
    font-size: 36px;
    color: #111827;
    margin: 40px 0;
}

.grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr); /* 4 cards per row */
    gap: 25px;
    padding: 0 40px 60px 40px;
}

.card {
    background: white;
    border-radius: 15px;
    overflow: hidden;
    text-align: center;
    box-shadow: 0 12px 25px rgba(0,0,0,0.1);
    transition: transform 0.3s, box-shadow 0.3s;
    padding-bottom: 20px;
    
}

.card img {
    width: 100%;
    height: 380px;
    object-fit:cover;
    transition: transform 0.3s;
}

.card:hover img {
    transform: scale(1.05);
}

.card h3 {
    font-size: 20px;
    color: #455e82;
    margin: 15px 0;
    font-weight: 600;
}
.card p{
    margin: 15px 0;
}
.card button {
    padding: 10px 20px;
    border: none;
    background-color: #3b82f6;
    color: white;
    font-weight: 600;
    border-radius: 8px;
    cursor: pointer;
    transition: 0.3s;
}

.card button:hover {
    background-color: #2563eb;
    transform: scale(1.05);
}
.menu-icon,
#menu-toggle {
    display: none;
}
@media(max-width: 1024px) {
    .grid {
        grid-template-columns: repeat(2, 1fr);
    }
}
@media(max-width: 600px) {
    .grid {
        grid-template-columns: 1fr;
        padding: 0 20px;
    }
}
@media (max-width: 480px) {

    .navbar {
        flex-direction: row;
        padding: 12px 15px;
        position: relative;
    }
    .menu-icon {
        display: block;
        font-size: 26px;
        color: white;
        cursor: pointer;
    }
    .navbar nav {
        display: none;
        flex-direction: column;
        position: absolute;
        top: 55px;
        left: 0;
        width: 100%;
        background-color: #111827;
    }

    .navbar nav a {
        margin: 0;
        padding: 12px;
        border-top: 1px solid #374151;
        font-size: 15px;
        text-align: center;
    }
    #menu-toggle:checked + .menu-icon + nav {
        display: flex;
    }
}



