
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', sans-serif;
}
html, body {
    width: 100%;
    overflow-x: hidden;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #111827;
    padding: 15px 40px;
    position: sticky;
    top: 0;
    z-index: 1000;
}

.navbar .logo {
    color: #fff;
    font-size: 26px;
    font-weight: bold;
}

.navbar nav a {
    color: #fff;
    text-decoration: none;
    margin-left: 25px;
    font-size: 16px;
    transition: 0.3s;
}

.navbar nav a:hover,
.navbar nav a.active {
    color: #444343;
}

.form-container {
    max-width: 600px;
    margin: auto;
    background: #ffffff;
    padding: 25px;
    border-radius: 10px;
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.1);
}

.form-container h2 {
    text-align: center;
    margin-bottom: 20px;
}

.section {
    margin-bottom: 20px;
}

.section h3 {
    margin-bottom: 10px;
    color: #2563eb;
}

.input-group {
    display: flex;
    flex-direction: column;
    margin-bottom: 12px;
}

.input-group label {
    margin-bottom: 5px;
    font-weight: 600;
}

.input-group input,
.input-group textarea,
.input-group select {
    padding: 10px;
    border: 1px solid #cbd5e1;
    border-radius: 6px;
    font-size: 14px;
}

textarea {
    resize: none;
    height: 80px;
}

button {
    width: 100%;
    padding: 12px;
    background-color: #2563eb;
    color: white;
    border: none;
    border-radius: 6px;
    font-size: 16px;
    cursor: pointer;
}

button:hover {
    background-color: #1e40af;
}
footer {
    background-color: #111827;
    color: white;
    text-align: center;
    padding: 20px;
}
.menu-icon,
#menu-toggle {
    display: none;
}
@media (max-width: 480px) {

    .navbar {
        flex-direction: row;
        padding: 12px 15px;
        position: relative;
    }
    .menu-icon {
        display: block;
        font-size: 26px;
        color: white;
        cursor: pointer;
    }
    .navbar nav {
        display: none;
        flex-direction: column;
        position: absolute;
        top: 55px;
        left: 0;
        width: 100%;
        background-color: #111827;
    }

    .navbar nav a {
        margin: 0;
        padding: 12px;
        border-top: 1px solid #374151;
        font-size: 15px;
        text-align: center;
    }
    #menu-toggle:checked + .menu-icon + nav {
        display: flex;
    }
}


